### WEB SCRAPING – ASSIGNMENT 4

#Import all the necessary libraries

In [1]:
import warnings
warnings.simplefilter("ignore")
warnings.filterwarnings("ignore")
import requests
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementClickInterceptedException

1.Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

Legality Response number from our URL is: <Response [200]>

In [3]:

driver = webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")
driver.get(url)
driver.maximize_window()
driver.find_element_by_xpath("//b").click()
records = []
for row in driver.find_elements_by_xpath("(//table[@class='wikitable sortable jquery-tablesorter'])[1]//tr")[1:-1]:
    temp = ''
    for element in row.find_elements_by_xpath(".//td"):        
        temp += element.text + '|'
    records.append(temp.split('|')[:-2])

In [4]:
df = pd.DataFrame(records, columns=['Rank', 'Name', 'Artist', 'Views', 'Upload_Date'])

arranged_cols = ['Rank', 'Name', 'Artist', 'Views', 'Upload_Date']

df.Video_Name = df.Name.apply(lambda x:x[:-4].strip('"'))
df = df[arranged_cols]
df

,Rank,Name,Artist,Views,Upload_Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.87,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.89,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.38,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.75,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.55,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.47,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.70,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.61,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.58,"February 27, 2018"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.50,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.46,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.16,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.96,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.72,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.61,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.60,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.56,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.46,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.40,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.31,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.30,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.29,"February 20, 2014"
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,3.27,"June 25, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.25,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.23,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.22,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.19,"November 9, 2017"
27,28.,"""Shake It Off""[46]",Taylor Swift,3.18,"August 18, 2014"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.18,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.10,"June 29, 2017"

In [5]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [6]:
#connect to webdriver
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")

In [7]:
# to get url
driver.get("https://www.bcci.tv/")

In [8]:
#click on international
international=driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

In [9]:
#Creating Empty list
Match_title1=[]
Series1=[]
Place1=[]
Date1=[]
Time1=[]

In [10]:
#Scraping Match_title
match_title= driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
for i in match_title:
    Match_title1.append(i.text)
    
#Scraping Series
series= driver.find_elements_by_xpath("//span[@class='ng-binding']")
for i in series:
    Series1.append(i.text)
    
#Scraping Place
place= driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']/span[2]")
for i in place:
    Place1.append(i.text)   
    
#Scraping Date
date= driver.find_elements_by_xpath("//h5[@class='ng-binding']")
for i in date:
    Date1.append(i.text)   
    
#Scraping Time
time= driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for i in time:
    Time1.append(i.text)

In [11]:
# checking the length for getting the data frame
print("Lengths of columns:",len(Match_title1), len(Series1), len(Place1), len(Date1),len(Time1))

Lengths of columns: 8 10 8 8 7

In [12]:
Fixture=pd.DataFrame({})
Fixture['Match_title1']=Match_title1[:7]
Fixture['Series1']=Series1[:7]
Fixture['Place1']=Place1[:7]
Fixture['Date1']=Date1[:7]
Fixture['Time1']=Time1[:7]
Fixture

,Match_title1,Series1,Place1,Date1,Time1
0,5th Test -,INDIA TOUR OF ENGLAND TEST SERIES 2021,"Edgbaston,",1 JUL 2022,10:00 AM IST
1,3rd ODI -,India Lead By 353 Runs,"Pallekele International Cricket Stadium,",7 JUL 2022,10:30 PM IST
2,1st T20I -,(84.5 ov),"The Rose Bowl,",7 JUL 2022,7:00 PM IST
3,2nd T20I -,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,"Edgbaston,",9 JUL 2022,7:00 PM IST
4,3rd T20I -,INDIA TOUR OF ENGLAND T20 SERIES 2022,"Trent Bridge,",10 JUL 2022,5:30 PM IST
5,1st ODI -,INDIA TOUR OF ENGLAND T20 SERIES 2022,"Kennington Oval,",12 JUL 2022,5:30 PM IST
6,2nd ODI -,INDIA TOUR OF ENGLAND T20 SERIES 2022,"Lord's Cricket Ground,",14 JUL 2022,3:30 PM IST

In [13]:
driver.close()

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [14]:
#connect to webdriver
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")

In [15]:
# to get url
driver.get("https://www.guru99.com/")

In [16]:
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [17]:
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [18]:
#Creating Empty list
Name=[]
Description=[]

In [19]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in dt:
    Name.append(d.text)

In [20]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in dt:
    Description.append(d.text)

In [21]:
# checking the length for getting the data frame
print("Lengths of columns:",len(Name), len(Description))

Lengths of columns: 41 41

In [22]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name
table['Description']=Description
table

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [23]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.
5. Scrape the details of trending repositories on Github.com. Url =

In [24]:
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe") 
url = "http://statisticstimes.com/"
driver.get(url)

In [26]:
#Click Economy
Economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
Economy.click()

In [27]:
#Click India
India= driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
India.click()

In [29]:
#Click on India GPD
GDP=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/ul/li[2]/a")
GDP.click()

In [30]:
# Empty lists
Rank = []
State = []
GSDP1 = []
GSDP2  = []
Share = []
GDP_billion = []

In [31]:
try: # Scraping Rank
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException as e:
    print("No such element present")
    
try: # Scraping Name
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException as e:
    print("No such element present")
    
try: # Scraping GSDP1
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping GSDP2
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException as e:
    print("-")

try: # Scraping share
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException as e:
    print("-")    
try: # Scraping GDP billion
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException as e:
    print("-")

In [32]:
# Creating data frame 
stats = pd.DataFrame({"Rank":Rank, "State":State, "GSDP (Cr INR at Current prices) (19-20)":GSDP1,
                      "GSDP (Cr INR at Current prices) (18-19)":GSDP2, "Share (18-19)":Share, 
                      "GDP ($ billion)":GDP_billion})
stats

Empty DataFrame
Columns: [Rank, State, GSDP (Cr INR at Current prices) (19-20), GSDP (Cr INR at Current prices) (18-19), Share (18-19), GDP ($ billion)]
Index: []

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [33]:
#connect to webdriver
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")

In [34]:
url = "https://github.com/"
driver.get(url)
driver.maximize_window()

In [35]:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore.click()

In [36]:
trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
trending.click()

In [37]:
# Empty list
Repository = []
Repository_des = []
Contributors = []
Language = []

In [38]:
try: # Scraping repository
    for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
        Repository.append(i.text)
except NoSuchElementException as e:
    print("-")

In [39]:
try: # Scraping Repository description
    for i in driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']"):
        Repository_des.append(i.text)
except NoSuchElementException as e:
    print("-")

In [40]:
try: # Scraping Contributors count
    for i in driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]"):
        Contributors.append(i.text)
except NoSuchElementException as e:
    print("-")

In [41]:
try: # Scraping language
    for i in driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']"):
        Language.append(i.text)
except NoSuchElementException as e:
    print("-")

In [42]:
# Creating data frame 
github = pd.DataFrame({"Repository title":Repository[:22],"Repository description":Repository_des[:22],
                       "Contributors count": Contributors[:22],"Language used": Language[:22]})
github

,Repository title,Repository description,Contributors count,Language used
0,WhaleFell / SMSBoom,短信轰炸/短信测压/ | 一个健壮免费的python短信轰炸程序，专门炸坏蛋蛋，百万接口，多...,457,Python
1,webhdx / PicoBoot,Raspberry Pi Pico (RP2040) based IPL replaceme...,16,Python
2,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"33,868",Python
3,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,"10,324",JavaScript
4,rebuy-de / aws-nuke,Nuke a whole AWS account and delete all its re...,437,Go
5,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,"5,424",Python
6,elebumm / RedditVideoMakerBot,Create Reddit Videos with just one command,701,Python
7,soimort / you-get,Dumb downloader that scrapes the web,"8,954",Python
8,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,"2,206",Python
9,searx / searx,Privacy-respecting metasearch engine,"1,606",Jupyter Notebook
10,dair-ai / ML-Course-Notes,Sharing course notes on all topics related to ...,470,Rust
11,zergtant / pytorch-handbook,pytorch handbook是一本开源的书籍，目标是帮助那些希望和使用PyTorch进行...,"5,033",C#
12,gfx-rs / wgpu,"Safe and portable GPU abstraction in Rust, imp...",423,TypeScript
13,chvancooten / maldev-for-dummies,A workshop about Malware Development,47,Go
14,solidjs / solid,"A declarative, efficient, and flexible JavaScr...",499,TypeScript
15,Dreamacro / clash,A rule-based tunnel in Go.,"3,989",Python
16,sveltejs / svelte,Cybernetically enhanced web apps,"2,925",Python
17,searxng / searxng,SearXNG is a free internet metasearch engine w...,204,C++
18,pallets / flask,The Python micro framework for building web ap...,"15,143",TypeScript
19,StarRocks / starrocks,StarRocks is a next-gen sub-second MPP databas...,612,C
20,laurent22 / joplin,Joplin - an open source note taking and to-do ...,"3,453",C++
21,fiveoutofnine / cool-contracts,A compilation of smart contracts I find cool/f...,14,Python

In [43]:
driver.close()

6.Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [44]:
#connect to webdriver
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")

In [46]:
url = "https://www.billboard.com/"
driver.get(url)

In [47]:
driver.find_element_by_xpath("/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]").click()

In [49]:
driver.find_element_by_xpath("/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a").click()

In [50]:
#Create empty list
Name = []
Artist = []

In [59]:
#scraping song names
try:
    names=driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']//h3")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:       
    Name.append('No details available')

In [61]:
#scraping artist names
try:
    artist=driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']//span")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:     
    Artist.append('-')

In [62]:
#Scraping data of last week ranks, peak POS, and weeks on chart
Data = []

data = driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in data:
    Data.append(i.text)


#Creating a new list to store only the text data
clean_Data = []

for i in Data:
    if i.strip():
        clean_Data.append(i)

In [63]:
#Scraping data of last week ranks, peak POS, and weeks on chart for the first entry seperately

#Creating empty list
Data1 = []

data1 = driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')

for i in data1:
    Data1.append(i.text)

Data1

#Creating a new list to store only the text data
clean_Data1 = []

for i in Data1:
    if i.strip():
        clean_Data1.append(i)
        
clean_Data1

['-', '1', '1']

In [64]:
#Scraping data of last week ranks

#Creating empty list
LWR = []

for i in clean_Data[::3]:
    LWR.append(i)
    
LWR

#Creating empty list
LWR1 = []

for i in clean_Data1[0::3]:
    LWR1.append(i)
    
LWR1

#Concatenating the lists
LWR1.extend(LWR)

LWR1

['-',
 '1',
 '2',
 '3',
 '4',
 '-',
 '-',
 '10',
 '5',
 '6',
 '8',
 '7',
 '-',
 '-',
 '-',
 '9',
 '11',
 '-',
 '12',
 '-',
 '-',
 '14',
 '-',
 '15',
 '16',
 '17',
 '19',
 '-',
 '20',
 '18',
 '33',
 '21',
 '52',
 '23',
 '25',
 '22',
 '30',
 '28',
 '31',
 '32',
 '36',
 '-',
 '27',
 '34',
 '40',
 '49',
 '-',
 '35',
 '44',
 '41',
 '37',
 '-',
 '38',
 '42',
 '29',
 '51',
 '43',
 '47',
 '39',
 '46',
 '50',
 '-',
 '54',
 '48',
 '53',
 '-',
 '56',
 '13',
 '57',
 '58',
 '59',
 '24',
 '26',
 '60',
 '62',
 '64',
 '63',
 '76',
 '69',
 '61',
 '67',
 '77',
 '66',
 '65',
 '75',
 '74',
 '55',
 '84',
 '-',
 '71',
 '81',
 '97',
 '91',
 '78',
 '92',
 '72',
 '93',
 '99',
 '68',
 '94']

In [65]:
#Creating empty list
Peak_POS = []

for i in clean_Data[1::3]:
    Peak_POS.append(i)
    
Peak_POS

#Creating empty list
Peak_POS1 = []

for i in clean_Data1[1::3]:
    Peak_POS1.append(i)
    
Peak_POS1

#Concatenating the lists
Peak_POS1.extend(Peak_POS)

Peak_POS1

['1',
 '1',
 '1',
 '1',
 '4',
 '6',
 '7',
 '8',
 '4',
 '1',
 '7',
 '3',
 '13',
 '14',
 '15',
 '5',
 '9',
 '18',
 '1',
 '20',
 '21',
 '9',
 '23',
 '4',
 '16',
 '5',
 '19',
 '28',
 '2',
 '5',
 '31',
 '4',
 '33',
 '7',
 '7',
 '21',
 '8',
 '3',
 '4',
 '25',
 '6',
 '42',
 '22',
 '15',
 '34',
 '46',
 '47',
 '28',
 '15',
 '37',
 '14',
 '52',
 '6',
 '32',
 '12',
 '51',
 '26',
 '4',
 '39',
 '46',
 '49',
 '62',
 '14',
 '15',
 '47',
 '66',
 '56',
 '13',
 '38',
 '22',
 '7',
 '24',
 '26',
 '38',
 '18',
 '64',
 '63',
 '76',
 '64',
 '61',
 '67',
 '59',
 '8',
 '16',
 '75',
 '12',
 '55',
 '84',
 '89',
 '13',
 '52',
 '61',
 '91',
 '60',
 '91',
 '3',
 '93',
 '98',
 '44',
 '91']

In [66]:
#Scraping data of weeks on board

#Creating empty list
WOB = []

for i in clean_Data[2::3]:
    WOB.append(i)
    
WOB

#Creating empty list
WOB1 = []

for i in clean_Data1[2::3]:
    WOB1.append(i)
    
WOB1

#Concatenating the lists
WOB1.extend(WOB)

WOB1

['1',
 '12',
 '11',
 '8',
 '10',
 '1',
 '1',
 '2',
 '24',
 '75',
 '7',
 '35',
 '1',
 '1',
 '1',
 '7',
 '32',
 '1',
 '50',
 '1',
 '1',
 '3',
 '1',
 '5',
 '19',
 '39',
 '21',
 '1',
 '52',
 '31',
 '29',
 '7',
 '4',
 '47',
 '42',
 '16',
 '40',
 '33',
 '41',
 '9',
 '6',
 '1',
 '12',
 '15',
 '7',
 '5',
 '1',
 '24',
 '9',
 '9',
 '7',
 '1',
 '7',
 '14',
 '6',
 '9',
 '7',
 '8',
 '12',
 '8',
 '7',
 '1',
 '11',
 '19',
 '4',
 '1',
 '3',
 '2',
 '12',
 '15',
 '6',
 '2',
 '2',
 '17',
 '7',
 '4',
 '12',
 '2',
 '22',
 '5',
 '3',
 '5',
 '5',
 '7',
 '4',
 '7',
 '2',
 '2',
 '1',
 '11',
 '22',
 '3',
 '4',
 '4',
 '4',
 '6',
 '3',
 '2',
 '20',
 '6']

In [67]:
#Creating a dataframe for the scrapped data
billboard=pd.DataFrame({'Song':Name[::4][:100],'Artist':Artist[::7][:100],'Last week Rank':LWR1,'Peak Rank':Peak_POS1,'Weeks on board':WOB1})
billboard

,Song,Artist,Last week Rank,Peak Rank,Weeks on board
0,Jimmy Cooks,Drake Featuring 21 Savage,-,1,1
1,As It Was,Harry Styles,1,1,12
2,First Class,Jack Harlow,2,1,11
3,Wait For U,Future Featuring Drake & Tems,3,1,8
4,About Damn Time,Lizzo,4,4,10
...,...,...,...,...,...
95,N95,Kendrick Lamar,72,3,6
96,Love Me More,Sam Smith,93,93,3
97,New Truck,Dylan Scott,99,98,2
98,She's All I Wanna Be,Tate McRae,68,44,20
99,Desesperados,Rauw Alejandro & Chencho Corleone,94,91,6

In [68]:
driver.close()

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [76]:
#connect to webdriver
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")

In [77]:
url = "https://www.naukri.com/"
driver.get(url)

In [78]:
rec = driver.find_element_by_xpath("/html/body/div/div[2]/div[1]/div/ul/li[1]/a")
page_url = rec.get_attribute("href")

driver.get(page_url)

In [81]:
#click on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [82]:
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [83]:
#click on search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [84]:
#create empty list
Name1 = []
Designation1 = []
Company1 = []
Skills1 = []
Location1 = []

In [85]:
#scrape names
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        Name1.append(i.text)
except NoSuchElementException:           #handling no such element exception
    Name1.append('No details available')

In [87]:
#scrape designation
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        Designation1.append(i.text)
except NoSuchElementException:        #handling no such element exception
    Designation1.append('No details available')

In [88]:
#scrape company names
try:
    companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        Company1.append(i.text)
except NoSuchElementException:#handling no such element exception
    Company1.append('No details available')

In [89]:
#scrape location names
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        Location1.append(i.find('small').text)
    except AttributeError :
        Location1.append("No details available")

In [90]:
#skills they hire for
try:
    skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skills:
        Skills1.append(i.text)
except NoSuchElementException:        #handling no such element exception
    Skills1.append('No details available')

In [91]:
#creating dataframe
df=pd.DataFrame({'Name':Name1,
                'Designation':Designation1,
                'Company':Company1,
                "Location":Location1,
                'Hire_for_Skillset':Skills1})
df

,Name,Designation,Company,Location,Hire_for_Skillset
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,"React.js, Data Science, Java, Front End, Busin..."
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
18,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
22,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,No details available,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
32,Avodha,Business Development Associate,Nikitha Palaparthi,Hyderabad / Secunderabad,"Ethical Hacking, Security Operations Center, S..."
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Ghaziabad,Walmart Interra Skeps Expressstores indifi whi...
35,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
36,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
37,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
42,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
45,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
47,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
49,Amir Chowdhury,Managing Partner,Granular.ai,No details available,"Machine Learning, Data Science, Product Manage..."

In [92]:
driver.close()

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [93]:
#connect to webdriver
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")

In [94]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [95]:
#scrapping book names
book_name=[]
try:
    names=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              #handling no such element exception
    book_name.append('No details available')

In [96]:
#scrapping author names
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    author_name.append('No details available')

In [97]:
#scrapping Sale
Sale=[]
try:
    sale=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in sale:
        Sale.append(i.text)
except NoSuchElementException:#handling no such element exception
    Sale.append('No details available')

In [98]:
#scrapping publisher
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:#handling no such element exception
    publisher.append('No details available')

In [99]:
#scrapping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')

In [100]:
#creating dataframe
table=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':Sale,
                'Publisher':publisher,
                'Genre':genre})
table

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [101]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [102]:
#connect to webdriver
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")

In [103]:
url = "https://www.imdb.com/list/ls095964455"
driver.get(url)

In [104]:
# scraping name of webseries
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:#handling no such element exception
    name.append('No details available')

In [105]:
# scraping year of release
years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:#handling no such element exception
    years.append('No details available')

In [106]:
# scraping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')

In [107]:
# scraping run_time
run_time=[]
try:
    info=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:#handling no such element exception
    run_time.append('No details available')

In [108]:
# scraping rating
rating=[]
try:
    info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:#handling no such element exception
    rating.append('No details available')

In [109]:
# scraping votes
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:#handling no such element exception
    votes.append('No details available')

In [110]:
#creating dataframe
df=pd.DataFrame({"Name":name,
                "Year_span":years,
                "Genre":genre,
                "Run_time":run_time,
                "Ratings":rating,
                "Votes":votes})
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,003,626"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,067,127"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"952,952"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"284,819"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"244,569"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"49,020"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,780"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"191,572"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,487"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"230,276"

In [111]:
driver.close()

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [112]:
#connect to webdriver
driver=webdriver.Chrome(r"C:\Users\youra\OneDrive\Desktop\SAI_dsp35\Datatrained\chromedriver.exe")

In [113]:
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [114]:
#Finding view all dataset button
view_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)

In [115]:
#Getting page urls containing list of all datasets
all_lst = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)

In [116]:
#fetching url for each dataset
data_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [117]:
#table view
table = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a')
table.click()

In [118]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [119]:
#scraping dataset names
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Data_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    Data_name.append('No details available')

In [120]:
#scraping data type
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append("No information")

In [121]:
#scraping task names
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         Task.append(i.text)
except NoSuchElementException:
    Task.append("No information")

In [122]:
#scraping Attribute type
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         Attr_type.append(i.text)
except NoSuchElementException:
    Attr_type.append("No information")

In [123]:
#scraping No of instances
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         Instances.append(i.text)
except NoSuchElementException:
    Instances.append("No information")

In [124]:
#scraping No of attribute
no_of_attributes=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         n_attributes.append(i.text)
except NoSuchElementException:
    n_attributes.append("No information")

In [125]:
#scraping Year
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         Year.append(i.text)
except NoSuchElementException:
    Year.append("No information")

In [126]:
#creating dataframe
df=pd.DataFrame({'Dataset_Name':Data_name,
                'Data_type':Data_type,
                'Task':Task,
                'Attribute_type':Attr_type,
                'No_of_instances':Instances,
                'No_of_attributes':n_attributes,
                'Year':Year})
df

,Dataset_Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,2.4 GHZ Indoor Channel Measurements,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark)","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places,Multivariate,"Classification, Clustering",,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,,9800,3,2019
618,YouTube Multiview Video Games Dataset,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection,Text,Classification,,1956,5,2017
620,Z-Alizadeh Sani,,Classification,"Integer, Real",303,56,2017
621,Zoo,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [127]:
driver.close()